* {
    padding: 0;
    margin: 0
}


body{
    background-color:  #141415;
}


.logo{
    width: 5vw;
    height: 5vw;
    padding: 5px;
}


.menu{
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #F5B60A;
}

.itens button{
    background-color: #F5B60A;
    border-style: none;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    color:#141415;
    font-family: century gothic;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.itens button:hover{background-color:  rgb(255, 217, 0);}

.itens a{
    text-decoration: none;
    color: #F5B60A;
    font-family: century gothic;
    font-weight: bold;
    font-size: 20px;
}
.itens a:hover{color: rgb(255, 217, 0);}
.itens li{
    display: inline-block;
    padding: 15px;
}


.banner{
    padding-top: 10px;
    padding-left: 13px;
    cursor: pointer;
}
.carrossel{
    display: flex;
    animation: slide 9s infinite;
    position: relative;
}

.slide{
    flex: 1;
    min-width: 100%;
}

.slide img{
    border-radius: 20px;
    border-image-width: 15px;
    border: 6px solid #F5B60A;
    object-fit: contain;
}

@keyframes slide{
    0%, 30%{transform:translateX(0);}
    33%, 60%{transform:translateX(-100%);}
    66%, 90%{transform:translateX(-200%);}
    100%{transform:translateX(0);}
}

.titulocat{
    font-family: century gothic;
    color: #F5B60A;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}
.imagens{
    text-align: center;
    background-color: #232327;
    padding: 15px;
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 20px;
}
.imagens a{
    text-decoration: none;
    color: rgb(255, 153, 0);
}
.imagens a:hover{color: #F5B60A}
.imagens li{
    color: white;
    font-family: century gothic;
    font-weight: bold;
    font-size: 20px;
    display:inline-block;
    padding-left: 15px;
    padding-top: 10px;
}
.imagens img{
    width: 15vw;
    height: 15vw;
    display:grid;
    border-radius: 15px;
    border: 4px solid #F5B60A;
    margin-bottom: 15px;
}


.contatos{
    font-family: century gothic;
    color: white;
    font-size: 14px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 200px;
    padding-left: 50px;
}
.titulocat2{
    font-size: 14px;
    font-family: century gothic;
    color: #F5B60A;
    padding: 10px;
    padding-top: 30px;
    text-align: center;
}


.copyright{
    text-align: center;
    color: #F5B60A;
    font-family: century gothic;
    padding: 30px;
    font-size: 18px;
}

.titulocat3{
    font-size: 14px;
    font-family: century gothic;
    color: #F5B60A;
    padding: 10px;
    padding-top: 30px;
    text-align: center;
}

.contatos a{
    text-decoration: none;
    color: white;
}
.contatos li{
    font-family: century gothic;
    font-size: 20px;
    padding-left: 15px;
    list-style-type: none;
}
.contatos img{
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

#resultado{
    font-family: century gothic;
    color: white;
}
.gerarvalor{
    display: flexbox;
    align-content: center;
    align-items: center;
}
.gerarvalor button{
    background-color: #F5B60A;
    border-style: none;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    color:#141415;
    font-family: century gothic;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

